@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

footer {
    position: fixed;
    min-height: 80px;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-top: 30px;
    font-size: 0.8em;
    z-index: 100;
}
.sm-logo {
  max-height: 30px;
  padding: 5px 5px 0px 5px;
}

.people-list {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin-bottom: 100px;
}

#valerie-pic {
  background-color: gray;
  border-radius: 50%;
}

.people-list li{
  display: inline-block;
  max-width: 45%;
}

.services-list {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.services-list li {
  display: inline-block;
  max-width: 45%;
}

.posDiv
{
      position: relative;
      margin-top: 20px;
    top:0;
    left:0;
    transition: all .2s ease-in-out;
  }

  .triggerElement:active .posDiv
{
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      z-index: 200;
      max-width: 70%;

}

.card-title a {
  position: relative;
  z-index: 100;
}

.card-website {
  margin-left: 20px;
}

nav {
  margin-bottom: 20px;
  text-transform: uppercase;
}

#logo {
  max-height: 100%;
  max-width: 100%;
  margin-top: 32%;
  position: relative;
}



#main-nav li {
    display: inline-block;
    text-decoration: none;
    padding-right: 50px;
    margin-top: 50px;
    text-transform: uppercase;
}

#main-nav li a {
  color: gray;
  letter-spacing: 5px;
}

#main-nav li a:hover {
  text-decoration: none;
  color:black;
}

.mainpage-sm-logos {
align-items: center;
text-align: center;
}

.main-sm-div {
  margin-left: auto;
  margin-right: auto;
}

.nav-right {
  margin-left: 5%;
}

.mainpage-sm-logos li{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding-right: 50px;
  margin-top: 50px;
}

#navbarNav {
  margin-left: 50px;
}

#navbarNav li {
  margin-left: 20px;
}

#navbarNav li a {
  letter-spacing: 3px;
}

.front-pics {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  bottom: 200px;
  z-index: -1;
  border-radius: 100%;
}

.media-body {
  margin: 50px 20px 20px 20px;
  max-width: 40%;
}

.media-left {
  margin: 50px 0px 20px 0px;
  align-items: center;
  vertical-align: middle;
}

.media-left img {
  vertical-align: middle;
}

.media-object {
  max-width: 50%;
  max-height: 100%;
}

.aboutus {
  padding-top: 10%;
}

.people-pic {
  max-width: 150px;
  border-radius: 100%;
}

/* PANELS */

.panel {
  margin-bottom: 40px;
}

#panel-link.collapsed span {
  transform: rotate(-90deg);
}

.card {
  background-color: white;
  border-radius: 0px;
  padding: 10px;
}

.panel-body {
  background-color: white;
  padding: 10px;
}

.people-media {
  margin: 0px 50px 30px 0px;
}

.glyphicon.glyphicon-chevron-down {
  float:right;
  z-index: 10;
}

.people-media h4 {
  text-transform: uppercase;
}

.lead-paragraph {
  margin-top: 75px;
}

.navbar-logo {
  max-height: 50px;
  margin-left: 20px;
}

.container-people {
  padding: 100px;
  margin-bottom: 100px;
}

#showreel-video {
  width:100%;
  height:500px;
  margin-top: 10%;
}

.container-services {
  text-align: center;
  margin: 50px 100px 30px 100px;
}

.container-services-items {
  margin-bottom: 75px;
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.glyphicon-chevron-down {
  color: gray;
}
.card {
  border: none;
}

/* CONTACT page */

.alert-info {
  margin-top: 25px;
}

/* PEOPLE page fade out stuff */

#fade-text-bart {
  position: relative;
  height: 200px;
  overflow: hidden;
}

#fade-out-bart {
  position:absolute;
  bottom:0;
  height:200px;
  width:100%;
  background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) ); /* For Safari */
  background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

#fade-text-chris {
  position: relative;
  height: 200px;
  overflow: hidden;
}

#fade-out-chris {
  position:absolute;
  bottom:0;
  height:200px;
  width:100%;
  background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) ); /* For Safari */
  background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

#fade-text-mes {
  position: relative;
  height: 200px;
  overflow: hidden;
}

#fade-out-mes {
  position:absolute;
  bottom:0;
  height:200px;
  width:100%;
  background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) ); /* For Safari */
  background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

#fade-text-Shaun {
  position: relative;
  height: 200px;
  overflow: hidden;
}

#fade-out-Shaun {
  position:absolute;
  bottom:0;
  height:200px;
  width:100%;
  background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) ); /* For Safari */
  background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

#fade-text-Simon {
  position: relative;
  height: 200px;
  overflow: hidden;
}

#fade-out-Simon {
  position:absolute;
  bottom:0;
  height:200px;
  width:100%;
  background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) ); /* For Safari */
  background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

/* small screen stuff */

@media (max-width:770px){
  #logo {
    margin-top: 10%;
  }
  footer {
    visibility: hidden;
  }

  #showreel-video {
    max-width:100%;
  }

  .services-list li {
    max-width: 100%;
  }

  .aboutus {
    padding: 20px;
    font-size: 1.2em;
  }

  .lead-paragraph {
    margin-top: 30px;
  }

  .container-services {
    text-align: center;
    margin: 20px 50px 30px 50px;
  }

  .nav-right {
    margin-left: 0px;
  }
}

/* ANIMATIONS
============================================================================= */

@keyframes fadeIn {
    0%      { opacity: 0;}
    100%    { opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.ng-enter           { animation: fadeIn 0.5s; }
